@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";

@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";

@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-dark.css";

@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";

@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--accent-1, lightblue);
}
